.toggle-button-group {
  display: flex;

  .gf-form-label {
    background-color: $input-label-bg;
  }

  .btn {
    @include buttonBackground($input-bg, $input-bg);
    color: $text-color;
    &.active {
      background-color: $typeahead-selected-bg;
      color: $text-color;
      &:hover {
        cursor: default;
      }
    }
  }

  &:first-child {
    border-radius: 2px 0 0 2px;
    margin: 0;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
    margin-left: 0;
  }
}
